* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

button {
  border: none;
  background: none;
}

.wrapper {
  max-width: 1440px;
  padding: 0 188px;
  margin: 0 auto;
}

.header__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}
.header__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__item {
  list-style-type: none;
}
.header__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #1C1B1B;
  padding: 15px 28px 15px 0;
}
.header__logo {
  margin-left: 83px;
}
.header__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 379px;
}

.banner {
  background-color: #F0EFEB;
}
.banner__wrapper {
  display: flex;
  justify-content: space-between;
}
.banner__wrap {
  padding: 90px 0;
}
.banner__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  color: #000000;
  margin-bottom: 42px;
}
.banner__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 26px;
}
.banner__button {
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #FFFFFF;
  background: #000000;
  border: 1px solid #000000;
  border-radius: 100px;
  padding: 8px 23px;
}
.banner__img {
  -o-object-fit: cover;
     object-fit: cover;
}

.cards__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cards__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  margin-bottom: 27px;
}
.cards__title--main {
  margin-top: 60px;
}
.cards__title--second {
  margin-top: 40px;
  margin-bottom: 52px;
}
.cards__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  margin-bottom: 47px;
  padding: 0 207px;
}
.cards__bestsellers {
  display: flex;
  justify-content: space-between;
  margin-bottom: 248px;
}
.cards__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.cards__img {
  margin-bottom: 27px;
}
.cards__subtitle {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 17px;
  color: #000000;
  padding: 0 80px;
  text-align: center;
}
.cards__price {
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 10px;
}
.cards__link {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #000000;
  margin-bottom: 8px;
}

.about__card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 76px 0 51px 0;
}
.about__card--gray {
  background-color: rgba(204, 204, 204, 0.3);
  background-color: 0.6;
}
.about__card--dgray {
  background-color: rgba(204, 204, 204, 0.6);
  background-color: 0.6;
}
.about__desc {
  padding: 63px 0;
}
.about__desc--left {
  margin-left: 50px;
  text-align: left;
  padding-right: 131px;
}
.about__desc--right {
  margin-right: 50px;
  text-align: right;
  padding-left: 131px;
}
.about__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  margin-bottom: 31px;
}
.about__text {
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  margin-bottom: 31px;
}
.about__link {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #000000;
}

.features__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-self: center;
  align-self: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.features__title {
  margin-top: 190px;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  margin-bottom: 70px;
  text-align: center;
}
.features__card {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.features__text {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #000000;
  margin-bottom: 111px;
}
.features__img {
  margin-bottom: 24px;
}

.guide__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
  margin-top: 51px;
  margin-bottom: 291px;
}
.guide__card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.guide__color {
  background-color: #F0F0F0;
}
.guide__people {
  position: relative;
}
.guide__img {
  position: absolute;
  left: 0;
  right: 0;
  top: -188px;
}
.guide__text {
  margin-top: 199px;
  text-align: center;
}
.guide__quote {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 40px;
}
.guide__place {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 44px;
}
.guide__link {
  margin-bottom: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-decoration-line: underline;
  color: #000000;
}

.form {
  margin-top: 78px;
  margin-bottom: 88px;
  text-align: center;
}
.form__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  margin-bottom: 9px;
}
.form__text {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 25px;
  padding: 0 37px;
}
.form__input {
  border: 1px solid #000000;
  border-radius: 0px;
  padding: 12px 76px 12px 8px;
  margin-bottom: 18px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #A0A0A0;
  width: 100%;
}
.form__form {
  padding: 0 102px;
}
.form__block {
  display: flex;
}
.form__input--left {
  margin-left: 60px;
}
.form__button {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  background: #000000;
  border: 1px solid #000000;
  border-radius: 100px;
  padding: 7px 23px 10px;
}

.footer {
  background-color: #000000;
  padding: 51px 148px 16px;
}
.footer__wrapper {
  display: flex;
  margin-bottom: 4px;
  justify-content: space-between;
}
.footer__social {
  padding-left: 25px;
}
.footer__info {
  display: flex;
  justify-content: space-between;
}
.footer__logo {
  margin-bottom: 25px;
}
.footer__img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__about {
  padding: 0 25px;
}
.footer__item {
  list-style-type: none;
  margin-bottom: 12px;
}
.footer__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
}
.footer__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #FFFFFF;
  margin-bottom: 36px;
}
.footer__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  color: #E5E5E5;
}/*# sourceMappingURL=style.css.map */